body {
    background-color: #4E4D82;
    min-height: 100vh;
    overflow: hidden;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

.question-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(0,0,0, 0.25);
    padding-top: 8px;
}


.card-body > h5 {
    display: flex;
    justify-content: center;
}


.trophy-img {
    display: flex;
    width: auto;
    height: 100%;
    grid-row: 1 / 5;
    grid-column: 2 / 3;
    justify-content: center;
    align-items: center;
}


.quiz-card {
    width: 32rem;
    margin-bottom: 64px;
}


.score {
    display: grid;
    height: 200px;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: 1fr 128px;
}

.score > span {
    display: flex;
    align-items: center;
    height: 100%;
    grid-column: 1;
}

.score > span:last-child {
    grid-row: 4;
}


.quiz-answer-card > div:hover {
    cursor: pointer;
    background-color: rgba(0,0,0, 0.1) !important;
    opacity: 1;
}


.btn-primary {
    background-color: #6528E0;
    --bs-btn-bg: #6528E0;
    --bs-btn-border-color: #6528E0;
    --bs-btn-hover-bg: #6528E0;
    --bs-btn-hover-border-color: #6528E0;
    --bs-btn-active-bg: #6528E0;
    --bs-btn-active-border-color: #6528E0;
    --bs-btn-disabled-bg: #6528E0;
    --bs-btn-disabled-border-color: #6528E0;
}


.bg-success, .bg-danger {
    color: white;
}